/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* Background Image */
body {
  background-image: url("../public/images/line.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Main Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}
